@import '../../styles/variables';

.filters {
  &__all {
    align-items: center;
    background-color: $purple;
    border-radius: 8px;
    border: 1px solid $purple;
    color: $backgroundColor;
    display: flex;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    margin-right: 10px;
    overflow: hidden;
    width: 36px;

    &_disabled {
      background-color: transparent;
      color: $white;
    }
  }

  &__provider {
    border-radius: 8px;
    border: 1px solid $purple;
    height: 35px;
    margin-right: 10px;
    overflow: hidden;
    width: 35px;
  }
}

.disabled {
  border: none;

  img {
    filter: grayscale(90%);

    &:hover {
      filter: none;
    }
  }
}