$purple: #B794F4;
$purpleTransparent: #b794f442;
$backgroundColor: #1a202c;

.carrousel {
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  transform: scale(0.98);
  transition: all 0.2s;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  will-change: transform;

  &.carrousel_active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    transform: scale(1);
  }

  .category {
    border-radius: 8px;
    border: 1px solid $purple;
    display: inline-block;
    margin: 12px 6px;
    min-height: 24px;
    min-width: 60px;
    padding: 4px;

    &_selected {
      background-color: $purple;
      color: $backgroundColor;
      font-weight: 600;
    };

    &:first-of-type {
      margin-left: 5px;
    }

    &:last-of-type {
      margin-right: 5px;
    }
  }
}

@media (min-width: 830px) {
  .carrousel {
    transform: scale(0.96) !important;

    /* width */
    &::-webkit-scrollbar {
      height: 1px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $purple; 
      border-radius: 20px;
    }

    .category:hover {
      background-color: $purple;
      border: none;
      color: $backgroundColor;
      font-weight: 600;
    }
  }
}
