@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

.overview {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  display: -webkit-box;
}

.scroll-disabled{
  overflow: hidden;
}

.carrousel_active {
  background: #ffffff4d;
  cursor: grabbing;
  transform: scale(1);
}

.progress-bar {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
}


progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

@media(min-width: 768px) {
  .overview {
    -webkit-line-clamp: 16;
  }

  .scrollbar {
    /* width */
    &::-webkit-scrollbar {
      height: 1px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $purple; 
      border-radius: 20px;
    }
  }
}
